
{% load static %}

<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
    <script>
        document.write('<h1>MQTT Data Page</h1>'+Date()+' <br>');
        setTimeout(function(){
            location.reload();
        },10000);
    </script>
</head>

{% block body_block %}
<body>
    <h1>Nmap Scan</h1>
    <!-- for host, status in hosts_list  -->
<div style="border: 3px black solid; padding: 10px; border-radius: 20px; width: fit-content;">
    {% for hostname, ip_address, mac in connected_devices %}
    <br>
    <table>
    <tr>
        <td><strong>Host:</strong> {{ hostname }}</td>
    </tr>
    <tr>
        <td><strong>IP Address:</strong> {{ ip_address }}</td>
    </tr>
    <tr>
        <td><strong>MAC Address:</strong> {{ mac }}</td>
    </tr>
    <tr>    
        <td><strong>Signal Strength:</strong>
            
            {% for signal in signal_list %}
                {% if signal.0 == mac %}
                    {{ signal.1 }}
                    {% if signal.2 > -30 %}
                        <img src="{% static 'wifi_4bar.png' %}" alt="image not found" class="center" width="3%">
                    {% elif signal.2 > -67 %}
                        <img src="{% static 'wifi_3bar.png' %}" alt="image not found" class="center" width="3%">
                    {% elif signal.2 > -70 %}
                        <img src="{% static 'wifi_2bar.png' %}" alt="image not found" class="center" width="3%">
                    {% elif signal.2 > -80 %}
                        <img src="{% static 'wifi_1bar.png' %}" alt="image not found" class="center" width="3%">
                    {% elif signal.2 > -90 %}
                        <img src="{% static 'wifi_nobar.png' %}" alt="image not found" class="center" width="3%">
                    {% endif %}
                {% endif %}
            {% endfor %}    
        </td>
    </tr>
    </table>
    <br>
</div>
{% endfor %}
{{ signal_list }}
{{ connected_devices }}
</body>
{% endblock %}


<html lang="en" dir="ltr">
