{% extends 'devicewebapp/base.html' %}
{% block body_block %}
<h1>Nmap Scan</h1>
 <!-- for host, status in hosts_list  -->
{% for host, status, mac in hosts_list %}
<br>
<table>
<tr>
    <td><strong>Host:</strong> {{ host }}</td>
</tr>
<tr>
    <td><strong>Status:</strong> {{ status.upper }}</td>
</tr>
<tr>
    <td><strong>MAC Address:</strong> {{ mac }}</td>
</tr>
<tr>    
    <td><strong>Signal Strength:</strong>
        {% for signal in signal_list %}
            {% if signal.0 == mac %}
                {{ signal.1 }}
            {% endif %}
        {% endfor %}
    </td>
</tr>
</table>
<br>

{% endfor %}
{{ signal_list }}
{% endblock %}
